extends ../layout/index
block contenido
    main.container.mt-5
        .row
            .col-md-5
                img(src="img/nosotros.jpg", alt="Imagen de nosotros", class = 'img-fluid')
            .col-md-7
                h1=pagina
                blockquote nisi libero tristique purus, venenatis accumsan eros lectus eu nibh. Vestibulum arcu purus, aliquam et tristique nec, pellentesque quis nulla. Quisque sollicitudin laoreet felis. Fusce id congue magna. In eros quam, pulvinar eu nisl id, venenatis malesuada quam.
                p Nunc vitae leo non quam feugiat porta. Aliquam quis nisl quis tellus feugiat aliquet non nec magna. Praesent ullamcorper hendrerit arcu, vel pellentesque nunc venenatis sed. Aliquam ut gravida odio, vitae aliquam lorem. Phasellus vel libero tortor. Sed justo enim, consectetur ut ipsum ut, mollis ornare augue
                p Curabitur aliquet metus at leo convallis accumsan. Curabitur bibendum libero non vestibulum euismod. Sed blandit et purus sit amet ullamcorper.
    .listado-iconos
        .container.mt-5.py-5.text-center
            .row
                .col-md-4
                    img(src="img/icono_seguridad.svg", class="img-fluid mb-4")
                    h2.mb-4 Seguridad
                    p Phasellus vel libero tortor. Sed justo enim, consectetur ut ipsum ut, mollis ornare augue . 
                .col-md-4
                    img(src="img/icono_destinos.svg", class="img-fluid mb-4")
                    h2.mb-4 Mejores destinos
                    p Phasellus vel libero tortor. Sed justo enim, consectetur ut ipsum ut, mollis ornare augue . 
                .col-md-4
                    img(src="img/icono_precios.svg", class="img-fluid mb-4")
                    h2.mb-4 Mejores precios
                    p Phasellus vel libero tortor. Sed justo enim, consectetur ut ipsum ut, mollis ornare augue . 